<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxl.gala.mapper.DisplayMapper">
  <resultMap id="BaseResultMap" type="com.wxl.gala.entity.Display">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="message" jdbcType="LONGVARCHAR" property="message" />
    <result column="createTime" jdbcType="LONGVARCHAR" property="create_time" />
  </resultMap>

  <select id="slectByPager" resultType="com.wxl.gala.entity.Display">
    SELECT *
    FROM display
    order by create_time desc
    LIMIT #{offset}, #{rows}
  </select>


</mapper>